<app-header></app-header>
<app-scrollhelp></app-scrollhelp>
<div class="mainGreeter noselect" id="intro">
    <div class="miniGreeter">
        <h3>Hi! I'm</h3>
        <h1>Owen Oertell</h1>
        <h2>A {{age}} year old
            <div class="slidingVertical">
                <span>scalable</span>
                <span>innovative</span>
                <span>passionate</span>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;programmer</h2>

    </div>
    <section class="scroll">
        <span></span>
    </section>
</div>
<app-aboutme></app-aboutme>
<app-working-on></app-working-on>
<app-technologies></app-technologies>
<app-checkout></app-checkout>
<app-footer></app-footer>