<div class="waiwo" id="whatamIupto">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>What am I up to?</h2>
                <p>Well, take a look at my most recent commit!</p>
                <div class="githubPush">
                    <h3><a href="https://github.com/mmumshad/example-voting-app-kubernetes-v2">Owen-Oertell/personal-website</a></h3>
                    <div class="row">
                        <img src="https://avatars.githubusercontent.com/u/53378167?" alt="">
                        <p>Owen-Oertell pushed at 9pm:</p>
                    </div>
                    <p class="mono">Adding dockerfile</p>
                </div>
            </div>
        </div>
    </div>
</div>