/* You can add global styles to this file, and also import other style files */
$background: #FFFFFF;

body, html {
    font-family: 'Manrope', sans-serif;
    background-color: $background;
    scroll-behavior: smooth;
}