<app-header></app-header>
<div class="mainGreeter">
    <div class="miniGreeter">
        <h3>Hi! I'm</h3>
        <h1>Owen Oertell</h1>
        <h2>A {{age}} year old
            <div class="slidingVertical">
                <span>scalable</span>
                <span>innovative</span>
                <span>passionate</span>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;programmer</h2>

    </div>
</div>