.foot {
    // was 44
    h2 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    text-align: center;
    margin-top: 20vh;
    .col-sm {
        padding-top: 2vh;
        padding-bottom: 6vh;
    }
    a {
        margin: 6px;
    }
}